<div class="card card-windows">
    <div class="card-header card-header-windows d-flex justify-content-center">
        Descarga
    </div>
    <div class="card-body">
        <div class="content-select mt-2 content-seacher">
            <div class="search-container-option">
                <div class="select-option" (click)="clickSearcher()" (keydown)="clickSearcher()">
                    <img class="logo search-icon" src="assets/icon/circle_light.svg" alt="circle">
                    {{ selectedOption }}
                    <img class="search-icon" [src]="'assets/icon/' + displayIcon" alt="icono desplegar">
                </div>
            </div>
        </div>
        <div class="form-select-option" *ngIf="isVisible">
            <div class="search-container-option" *ngFor="let option of optionSearch" (click)="selectOption(option)" (keydown)="selectOption(option)">
                <p class="option option-hover">
                    <img class="logo search-icon" src="assets/icon/circle_light.svg" alt="administrador">
                    {{ option.label }}
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-around mt-2 mb-4">
            <button class="btn btn-card-windows" type="submit" (click)="download()" [disabled]="isLoading">
                {{ isLoading ? 'Generando...' : 'Descargar' }}
            </button>
        </div>
    </div>
</div>