@if (property()) {
<div class="property-card shadow-sm" (click)="onCardClick()">
    <div class="image-container">
        <img [src]="(property()?.images && property()?.images.length > 0) 
                     ? property().images[0] 
                     : 'assets/img/no-image.png'" alt="Property" class="main-img">

        @if (property()?.solicitado) {
        <span class="time-badge">Solicitado</span>
        }

        <div class="photo-dots">
            @for (dot of property()?.images; track $index) {
            <div class="dot" [class.active]="$index === 0"></div>
            }
        </div>
    </div>

    <div class="content">
        <div class="price-row">
            <h3 class="price">{{ property()?.valor_inmueble | currency:'COP':'$':'1.0-0' }}</h3>
        </div>

        <div class="specs">
            <span class="spec-item"><strong>{{ property()?.direccion }}</strong></span>
            <span class="divider">|</span>
            <span class="spec-item"><strong>{{ property()?.tipo_bien }}</strong></span>
            <span class="divider">|</span>
            <span class="spec-item"><strong>{{ property()?.tipo_predio }}</strong></span>
        </div>

        <p class="address">{{ property()?.municipio }} - {{ property()?.departamento }}</p>
    </div>
</div>
} @else {
<div class="skeleton-card">Cargando datos...</div>
}