<nav class="navbar p-3">
  <div class="d-flex w-100 align-items-center justify-content-between">
    <div>
      <img class="logo" [src]="'assets/logo/navbar_realgis.svg'" alt="logo" />
    </div>

    <!-- <div style="margin-left: 2vw">
      <form class="search-container">
        <input
          class="form-control mr-sm-2 search"
          type="search"
          aria-label="Search"
        />
      </form>
    </div>

    <div>
      <img
        class="icon-ia me-5"
        src="assets/icon/ai_assistant.svg"
        alt="Asistente IA"
      />

      <img
        class="logo icon-information"
        src="assets/icon/navbar_information.svg"
        alt="Información"
      />
    </div> -->
  </div>
</nav>
